@import './vendor/reset';

body {
    background-color: rgb(243, 241, 233);
}

header {
    background-image: url('../images/fitness&nutrition.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

    .content-area {
        flex-basis: calc(33.33%);
        position: relative;
        overflow: hidden;
        border: 1px solid #887d753d;
        min-width: 200px; 
        min-height: 200px; 
        transition: all 0.3s ease;
        padding: 20px;
        text-align: justify;

        h2 {
            padding-bottom: 10px;
        }
    }

    .content-area:hover {
        width: 400px;
        height: auto;
    }

    .with-image {
        background-image: url('../images/greg-rosenke-8DcwvlVXIVw-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .with-image2 {
        background-image: url('../images/gina-lin-m27OTMegUyA-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .with-image3 {
        background-image: url('../images/nadine-primeau-l5Mjl9qH8VU-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

footer {
    display: flex;
    align-items: center;
    background-color: rgb(243, 241, 233);
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;

    p {
        padding-left: 10px;
        font-size: 0.8rem;

        .word-spacing {
            margin-left: 7px;
        }
    }
}
